# DataTypes

### Q1. Identify the datatype for each of the below variables
### a = 5
### b = "geeksforgeeks"
### c= 20.5
### d= ["apple", "banana", "cherry"]
### e= ("apple", "banana", "cherry")
### f = {"apple", "banana", "cherry"}
### g= {"name" : "John", "age" : 36}
### h= True

TypeError: unsupported operand type(s) for +: 'type' and 'type'

### Q2.Convert x into a decimal number and print the output.

In [ ]:
x=5

### Q3.Convert y into a integer number and print the output.Â¶

In [ ]:
y = 5.5

### Q4.Convert z into a Float number and print the output.

In [ ]:
z=6

### Q5.Create a variable named "txt" and assign the value "Hello World" to it.

### Q6.Print the length of the variable "txt".

### Q7.Print the first character of the string "txt".

### Q8.Print the characters from index 2 to index 4 for string "txt" i.e. (llo).

### Q9.Convert the value of txt to upper case and print the output.

### Q10.Replace the character "H" with a "J" in string "txt" and print the output.

### Q11.Print the string "str1" without any whitespace at the beginning or the end.

In [ ]:
str1 = " Welcome ACOE "

### Q12. Insert the correct syntax to add a placeholder for the age parameter. Replace __ with the placeholder

In [ ]:
age = 36
txt = "My name is John, and I am __ "

#print My name is John, and I am 36
print(txt.format(age))

### Q13. Print the bool value of the following statements

In [ ]:
x="abc"
y=0

### Q14. Take value 5 as a user input in variable "x" and print its value and type

# Lists

### Q15.Print the second item in the fruits list.

In [ ]:
fruits_list = ["apple", "banana", "cherry"]

### Q16.Change the value from "apple" to "kiwi", in the fruits_list.

### Q17. Add "orange" to the fruits_list and print the elements in the list

### Q18.Add "lemon" as the second item in the fruits_list and print the elements in the list

### Q19.Use the remove method to remove "banana" from the fruits_list.

### Q20.Use negative indexing to print the last item in the fruits_list.

### Q21.Use a range of indexes to print the third, fourth, and fifth item in the below fruits_list2.

In [ ]:
fruits_list2 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

### Q22.Print the number of items in the list fruits_list2.

# Tuples

### Q23.Use the correct syntax to print the first item in the fruits_tuple.

In [ ]:
fruits_tuple = ("apple", "banana", "cherry")

### Q24.Print the number of items in the fruits_tuple.

### Q25.Identify the error in the below statement and give reason for the same.
fruits_tuple[0]="kiwi"

# Sets

### Q26.Define a empty set named fruits_set and add "orange","banana" & "apple" to the fruits_set.

### Q27.Add multiple items of list more_fruits to the set fruits_set and print the resulting set.

In [ ]:
more_fruits = ["orange", "mango", "grapes"]

### Q28.Remove "banana" permanently from the set fruits_set and print the resultant set

# Dictionary

### Q29.Print the value of the "model" key of the car dictionary

In [ ]:
car ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
#Print the value of the "model" key of the car dictionary

### Q30.Change the "year" value from 1964 to 2020.

### Q31.Add the key/value pair "color" : "red" to the car dictionary.

### Q32.Use the pop method to remove "model" from the car dictionary.

### Q33.Write a program that takes 3 numbers as an input from user and print the maximum number amongst them by using the WHILE Loop

# While  loop

### Q34.Take a number as an input from user and print the prime numbers till that number by demonstraing the use of while loop. e.g. if user enters 7 then output should be 2,3,5,7.