# DataTypes

### Q1. Identify the datatype for each of the below variables
### a = 5
### b = "geeksforgeeks"
### c= 20.5
### d= ["apple", "banana", "cherry"]
### e= ("apple", "banana", "cherry")
### f = {"apple", "banana", "cherry"}
### g= {"name" : "John", "age" : 36}
### h= True

a is int
b is str
c is float
d is list
e is tuple
f is set
g is dict
h is bool

hint: Use type() to know the data types assocaiated with a variable

### Q2.Convert x into a decimal number and print the output.

In [1]:
x=5
print(float(x))

5.0

### Q3.Convert y into a integer number and print the output.Â¶

In [2]:
y = 5.5
print(int(y))

5

### Q4.Convert z into a Float number and print the output.

In [3]:
z=6
print(float(z))

6.0

### Q5.Create a variable named "txt" and assign the value "Hello World" to it.

In [4]:
txt='Hello World'

### Q6.Print the length of the variable "txt".

In [5]:
len(txt)

11

### Q7.Print the first character of the string "txt".

In [6]:
txt[0]

'H'

### Q8.Print the characters from index 2 to index 4 for string "txt" i.e. (llo).

In [7]:
txt[2:5]

'llo'

### Q9.Convert the value of txt to upper case and print the output.

In [8]:
print(txt.upper())

HELLO WORLD

0### Q10.Replace the character "H" with a "J" in string "txt" and print the output.

In [9]:
print(txt.replace('H','J'))

Jello World

### Q11.Print the string "str1" without any whitespace at the beginning or the end.

In [50]:
str1 = " Welcome ACOE "
print(str1.strip())

# to see the actual difference:check the length in both cases, with & without  the strip()

Welcome ACOE

### Q12. Insert the correct syntax to add a placeholder for the age parameter. Replace __ with the placeholder

In [49]:
age = 36
txt = "My name is John, and I am {} "

#print My name is John, and I am 36
print(txt.format(age))

My name is John, and I am 36

### Q13. Print the bool value of the following statements

In [12]:
x="abc"
y=0
print(bool(x))
print(bool(y))

True
False

### Q14. Take value 5 as a user input in variable "x" and print its value and type

In [13]:
num=input("Enter Number:")
print(num)
print(type(num))

Enter Number:5
5
<class 'str'>

# Lists

### Q15.Print the second item in the fruits list.

In [14]:
fruits_list = ["apple", "banana", "cherry"]
fruits_list[1]

'banana'

### Q16.Change the value from "apple" to "kiwi", in the fruits_list.

In [15]:
fruits_list[0]='kiwi'

### Q17. Add "orange" to the fruits_list and print the elements in the list

In [16]:
fruits_list.append('orange')
print(fruits_list)

['kiwi', 'banana', 'cherry', 'orange']

### Q18.Add "lemon" as the second item in the fruits_list and print the elements in the list

In [17]:
fruits_list.insert(1,'lemon')
print(fruits_list)

['kiwi', 'lemon', 'banana', 'cherry', 'orange']

### Q19.Use the remove method to remove "banana" from the fruits_list.

In [18]:
fruits_list.remove('banana')
print(fruits_list)

['kiwi', 'lemon', 'cherry', 'orange']

### Q20.Use negative indexing to print the last item in the fruits_list.

In [19]:
fruits_list[-1]

'orange'

### Q21.Use a range of indexes to print the third, fourth, and fifth item in the below fruits_list2.

In [20]:
fruits_list2 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
fruits_list2[2:5]

['cherry', 'orange', 'kiwi']

### Q22.Print the number of items in the list fruits_list2.

In [21]:
print(len(fruits_list2))

7

# Tuples

### Q23.Use the correct syntax to print the first item in the fruits_tuple.

In [22]:
fruits_tuple = ("apple", "banana", "cherry")
fruits_tuple[0]

'apple'

### Q24.Print the number of items in the fruits_tuple.

In [23]:
print(len(fruits_tuple))

3

### Q25.Identify the error in the below statement and give reason for the same.
fruits_tuple[0]="kiwi"

tuple is immutable. Hence elements within tuple cannot be modified

# Sets

### Q26.Define a empty set named fruits_set and add "orange","banana" & "apple" to the fruits_set.

In [2]:
fruits_set=set()
print(type(fruits_set))
fruits=['orange','banana','apple']
fruits_set.update(fruits)
print(fruits_set)

<class 'set'>
{'apple', 'orange', 'banana'}

### Q27.Add multiple items of list more_fruits to the set fruits_set and print the resulting set.

In [3]:
more_fruits = [ "mango", "grapes"]
fruits_set.update(more_fruits)
print(fruits_set)

{'grapes', 'apple', 'mango', 'orange', 'banana'}

### Q28.Remove "banana" permanently from the set fruits_set and print the resultant set

In [4]:
fruits_set.remove('banana')
print(fruits_set)

{'grapes', 'apple', 'mango', 'orange'}

# Dictionary

### Q29.Print the value of the "model" key of the car dictionary

In [40]:
car ={
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
#Print the value of the "model" key of the car dictionary
print(car["model"])

Mustang

### Q30.Change the "year" value from 1964 to 2020.

In [41]:
car['year']=2020
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

### Q31.Add the key/value pair "color" : "red" to the car dictionary.

In [42]:
car["color"]="red"
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'red'}

### Q32.Use the pop method to remove "model" from the car dictionary.

In [43]:
car.pop("model")
print(car)

{'brand': 'Ford', 'year': 2020, 'color': 'red'}

### Q33.Write a program that takes 3 numbers as an input from user and print the maximum number amongst them by using the WHILE Loop

In [45]:
i=1
list_num=[]

while i <= 3:
    num=input("Enter the {} number:".format(i))
    list_num.append(int(num))
    i=i+1

print("Largest number is: ", max(list_num))

Enter the 1 number:45
Enter the 2 number:999
Enter the 3 number:5
Largest number is:  999

### While  loop

### Q34.Take a number as an input from user and print the prime numbers till that number by demonstraing the use of while loop. e.g. if user enters 7 then output should be 2,3,5,7.

In [17]:
num=int(input("Enter the number:"))
prime=[x for x in range(2,num+1)]

y=0
p=prime[y]
while (p * p <= num):
        # Update all multiples of p
    for i in range(p * 2, num + 1, p):
        
        if i in prime:
            prime.remove(i)
    y=y+1
    p=prime[y]

# Print all prime numbers 
print(prime)

Enter the number:12
[2, 3, 5, 7, 11]