In [3]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline

ModuleNotFoundError: No module named 'matplotlib'

In [4]:
np.random.seed(1234)
df_1 = pd.DataFrame({'A': ['a', 'b', 'c', 'd']*5,
                     'B': np.random.randn(20),
                     'C': np.random.randint(7, size=20)})
df_2 = pd.read_csv('data/pandas_2_df_2.csv')
df_3 = pd.read_csv('data/pandas_2_df_3.csv')
df_4 = pd.read_csv('data/pandas_2_df_4.csv')

# Assignment 2.1
Find the minimum, maximum and median values of all columns for each unique value in column `A` in DataFrame `df_1`.The `groupby` method on a pandas DataFrame has the possibility to group by the index values by using `.groupby(level=0)`
<details><summary>Hint 1</summary>
    <p>
        Use the `groupby` method on a DataFrame to compute aggregate values for each unique value in a column
    </p>
</details>
<details><summary>Hint 2</summary>
    <p>
        It is possible to apply multiple aggregation functions to a `groupby` object by using the `agg` method and providing the function names as a list of strings
    </p>
</details>

# Assignment 2.2
For each unique combination of values from columns `A` and `C`, find the average of the values in column `B`. Return a DataFrame with columns `A`, `B_avg` and `C`, where `B_avg` holds the result of the average over the `B` column, while `A` and `C` hold the values for the unique combinations.
<details><summary>Hint 1</summary>
    <p>
        The `groupby` method on a pandas DataFrame can take a list of column names as input, and will group by every unique combination of values in the listed columns
    </p>
</details>
<details><summary>Hint 2</summary>
    <p>
        Applying a single aggregate function to a `groupby` object returns a Series. This series has a method `rename` for renaming it
    </p>
</details>

# Assignment 2.3
The DataFrame `df_2` contains students' ID (`student_id`), their ID's of the courses (`course_id`) and their grade (`grade`). Compute, for every student, the ratio of grades that are A's or B's.
<details><summary>Hint 1</summary>
    <p>
        The `groupby` method on a pandas DataFrame has the possibility to group by the index values by using `.groupby(level=0)`
    </p>
</details>
<details><summary>Hint 2</summary>
    <p>
        Applying a numerical aggregate function to a Boolean Series, leads pandas interpreting True as a 1 and False as a 0
    </p>
</details>
<details><summary>Hint 3</summary>
    <p>
        Setting `student_id` as index to begin with, ensures that a `isin` can be applied to the relevant columns, while avoiding applying it to the `student_id`
    </p>
</details>

# Assignment 2.4
The DataFrame `df_3` contains a series of columns named after the pattern `variable name`_`time lag`, e.g. the variable `A` has current time unit's value, plus that of the last three time units, stored in `A_0`, `A_1`, `A_2`, `A_3`. Compute the average over all time lags for every variable name for every record. Return a DataFrame with the `customer_id` as index and the average of every variable as columns.

All lag variables in DataFrame ends with _ and a single number.
<details><summary>Hint 1</summary>
    <p>
        It is possible to group by columns by specifying `axis=1` as part of the input to the method
    </p>
</details>
<details><summary>Hint 2</summary>
    <p>
        One can control which rows or columns are grouped together by supplying a list of values to the `by` parameter in the method
    </p>
</details>
<details><summary>Hint 3</summary>
    <p>
        The python function `map` can apply a function to every element of a list
    </p>
</details>

# Assignment 2.5
All the grades in `df_2` has a grading date in column `grade_date`. Find out which address the grades were sent to after each grading for every student. Use the data in `df_4` to get the address on file for the grading date.

Return a DataFrame where each row holds a student ID, the grading date and a list of course IDs graded at that date, along with the address the grades were sent to.
<details><summary>Hint 1</summary>
    <p>
        Pandas Series have the method `shift`, which shifts all values up or down by a certain number of steps. It leaves missing values in the places, where there is no value to shift in
    </p>
</details>
<details><summary>Hint 2</summary>
    <p>
        Using the `apply` method on a `groupby` object, it is possible to perform manipulations on the DataFrame of values for each of the groups
    </p>
</details>

In [6]:
df_4.head()

                                             address  student_id  valid_from
0  26796 Alan Route Suite 700, Jessicaside, WY 07...           1  2011-07-01
1  8110 Karen Junction Suite 900, West Anthony, N...           1  2011-12-19
2  1144 Deborah Center Suite 114, West Erikastad,...           2  2011-01-01
3  611 Warner Forge Apt. 049, East Jerome, MH 142...           2  2011-11-03
4           623 Alan Key, West Anthonyberg, IL 17494           2  2012-05-17