# Python pandas Q&A video series by [Data School](http://www.dataschool.io/)

### [YouTube playlist](https://www.youtube.com/playlist?list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y) and [GitHub repository](https://github.com/justmarkham/pandas-videos)

## Table of contents
<ol>
    <li> <a href="#1.-What-is-pandas%3F-%28video%29">What is pandas?</a></li>
    <li> <a href="#2.-How-do-I-read-a-tabular-data-file-into-pandas%3F-%28video%29">How do I read a tabular data file into pandas</a></li>
    <li><a href="#section3"> How to connect to SQL server? </a></li>
    <li> <a href="#section4"> How to get basic informaion? </a></li>
    <li><a href="#5.-How-do-I-select-a-pandas-Series-from-a-DataFrame%3F-%28video%29">How do I select a pandas Series from a DataFrame?</a></li>
    <li> <a href="#6.-Why-do-some-pandas-commands-end-with-parentheses-%28and-others-don't%29%3F-%28video%29">Why do some pandas commands end with parentheses (and others don't)?</a></li>
    <li> <a href="#7.-How-do-I-rename-columns-in-a-pandas-DataFrame%3F-%28video%29">How do I rename columns in a pandas DataFrame?</a></li>
    <li> <a href="#8.-How-do-I-remove-columns-from-a-pandas-DataFrame%3F-%28video%29">How do I remove columns from a pandas 
<li><a href="#9.-How-do-I-sort-a-pandas-DataFrame-or-a-Series%3F-%28video%29">How do I sort a pandas DataFrame or a Series?</a></li>
<li> <a href="#10.-How-do-I-filter-rows-of-a-pandas-DataFrame-by-column-value%3F-%28video%29">How do I filter rows of a pandas DataFrame by column value?</a></li>
<li> <a href="#11.-How-do-I-apply-multiple-filter-criteria-to-a-pandas-DataFrame%3F-%28video%29">How do I apply multiple filter criteria to a pandas DataFrame?</a> </li>  
<li> <a href="#12.-How-do-I-change-the-data-type-of-a-pandas-Series%3F-%28video%29">How do I change the data type of a pandas Series?</a> </li>
<li> <a href="#13.-When-should-I-use-a-%22groupby%22-in-pandas%3F-%28video%29">When should I use a "groupby" in pandas?</a></li>
<li> <a href="#14.-How-do-I-explore-a-pandas-Series%3F-%28video%29">How do I explore a pandas Series</a></li>
<li> <a href="#15.-How-do-I-handle-missing-values-in-pandas%3F-%28video%29">How do I handle missing values in pandas?</a></li>
<li> <a href="#16.-What-do-I-need-to-know-about-the-pandas-index%3F-%28Part-1%29-%28video%29">What do I need to know about the pandas index? (Part 1)</a></li>
<li><a href="#17.-What-do-I-need-to-know-about-the-pandas-index%3F-%28Part-2%29-%28video%29">What do I need to know about the pandas index? (Part 2)</a></li>
<li> <a href="#18.-How-do-I-select-multiple-rows-and-columns-from-a-pandas-DataFrame%3F-%28video%29">How do I select multiple rows and columns from a pandas DataFrame?</a></li>  <ol>

# 1. What is pandas? ([video](https://www.youtube.com/watch?v=yzIMircGU5I&list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y&index=1))

- [pandas main page](http://pandas.pydata.org/)
- [pandas installation instructions](http://pandas.pydata.org/pandas-docs/stable/install.html)
- [Anaconda distribution of Python](https://www.continuum.io/downloads) (includes pandas)
- [How to use the IPython/Jupyter notebook](https://youtu.be/IsXXlYVBt1M?t=5m17s) (video)


<span style="font-size:1.2em">
Why use Pandas?<br/>
Data scientists use Pandas for its following advantages: 
<ul>
<li>Easily handles missing data </li>
 <li>It uses Series for one-dimensional data structure and DataFrame for multi-dimensional data structure</li>
 <li>It provides an efficient way to slice the data</li>
<li> It provides a flexible way to merge, concatenate or reshape the data</li>
<li>It includes a powerful time series tool to work with</li>
  </ul>
In a nutshell, Pandas is a useful library in data analysis. It can be used to perform data manipulation and analysis. Pandas provide powerful and easy-to-use data structures, as well as the means to quickly perform operations on these structures. 

</span>

In [ ]:
# Install and import
import pandas as pd

In [ ]:
#If you dont have it installed by default
pip install pandas 
# Installing libraribes in the bank
# Use this link to read more - https://confluence.danskenet.net/display/SDAD/Installing+packages+within+the+bank

## Data Structure <br/>
<span style="font-size:1.2em">
 
1) Series-  A series is a one-dimensional data structure. It can have any data structure like integer, float, and string. The axis labels are collectively referred to as the index It is useful when you want to perform computation or return a one-dimensional array. A series, by definition, cannot have multiple columns. For the latter case, please use the data frame structure. 
Series has one parameters:
Data: can be a list, dictionary or scalar value


2) Data Frames -  General 2D labeled, size-mutable tabular structure with potentially heterogeneously typed columns.
A data frame is a two-dimensional array, with labeled axes (rows and columns). A data frame is a standard way to store data. 
Data frame is well-known by statistician and other data practitioners. A data frame is a tabular data, with rows to store the information and columns to name the information <br/>
3) Panel-  General 3D labeled, size-mutable array <br/>

## CREATING DATAFRAME 
Different ways of creating data
<ul>
<li> List </li>
<li> Dictionary </li>
<li> Numpy array </li>
 </ul>

In [ ]:

# The inital set of baby names and birth rates
names = ['Bob','Jessica','Mary','John','Mel']
births = [968, 155, 77, 578, 973]

BabyDataSet = list(zip(names,births))
BabyDataSet

In [ ]:
#List as an input to create Df
pd.DataFrame(data =BabyDataSet ,columns=['names','births'])

In [ ]:
#You can also use a dictionary to create a Pandas dataframe. 
Age_data = {'Name': ["John", "Smith"], 'Age': [30, 40]}
pd.DataFrame(data=Age_data)
#pd.DataFrame(data=Age_data, index= ['Customer1','Customer2'])

In [ ]:
# You can convert a numpy array to a pandas data frame with pd.Data frame(). The opposite is also possible.
# To convert a pandas Data Frame to an array, you can use np.array() 
## Numpy to pandas
import numpy as np
h = [[1,2],[3,4]] 
df_h = pd.DataFrame(h)
print('Data Frame:', df_h)

## Pandas to numpy
df_h_n = np.array(df_h)
print('Numpy array:', df_h_n)

# 2. How do I read a tabular data file into pandas? ([video](https://www.youtube.com/watch?v=5_QXMwezPJE&list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y&index=2))

#### Documentation for [**`read_table`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_table.html)

In [ ]:
# read a dataset of Chipotle orders directly from a read_csv. Could have also used read_table function
#attributes of read_csv-  pd.read_csv('path', sep=';', encoding='latin1', parse_dates=['Date'], dayfirst=True, index_col='Date')
orders = pd.read_csv(r'.\data\chipotle.tsv', sep='\t')

In [ ]:
orders.head()

In [ ]:
#Modifying column name while importing data
user_cols = ['order_id', 'Quantity', 'Order_name', 'Addons', 'Price']
orders_mod = pd.read_table(r'.\data\chipotle.tsv', sep='\t', header=None, names=user_cols)

In [ ]:
orders_mod.head()
orders_mod.tail()

<a id="section3"></a>
# 3. Connection to Sql server 
https://confluence.danskenet.net/display/SDAD/Connection+to+SQL+servers+from+Virtual+Machines

In [ ]:
#HOW TO READ FROM sql server in for our projects. Please refer to the above link fo rmode details
import pandas as pd
import pyodbc
 
# Connect to etpew (ABT)
con_abt = pyodbc.connect('DRIVER={SQL Server};SERVER=ETPew\inst004,50004;DATABASE=34BB_MCT_AnalyticalBaseTables;Trusted_Connection=yes')
 
query_abt = """
SELECT TOP 1000 [OBSERVATION_DATE],[KNID]
FROM [34BB_MCT_AnalyticalBaseTables].[dbo].[ABT_DB_P_V]
"""
df_abt = pd.read_sql_query(query_abt, con_abt)

In [ ]:
# Connect to DPL
con_dpl = pyodbc.connect('DRIVER={SQL Server};SERVER=DPL-SQL-PROD\INST101,50101;DATABASE=D7DPL;Trusted_Connection=yes')
 
query_dpl = """
SELECT TOP 1000 [CreditApplId]
      ,[InsertedDt]
      ,[IsRecent]
      ,[ValidFromDt]
      ,[ValidToDt]
  FROM [D7DPL].[dim].[CreditApplProcessed_V1]
"""
df_dpl = pd.read_sql_query(query_dpl, con_dpl)

**Question 1:** When reading from a file, how do I read in only a subset of the columns?<br/>
**Question 2:** When reading from a file, how do I read in only a subset of the rows? <br/>
**Question 3:** Reading an existing data SAS format. Can you try to read "models_in_month" SAS file into dataframe?
 
time 5  mins

<a id= "section4"> </a>
## 4. How do I get basic data information?

In [ ]:
# read a dataset of UFO reports into a DataFrame
ufo = pd.read_table(r'.\data\ufo.csv', sep=',')
# read_csv is equivalent to read_table, except it assumes a comma separator
ufo =pd.read_csv(r'.\data\ufo.csv')
# examine the first 5 rows
ufo.head()

In [ ]:
ufo.info()

In [ ]:
set(type(x) for x in ufo.City)

In [ ]:
#SHAPE
ufo.shape

In [ ]:
ufo.dtypes

In [ ]:
ufo.describe()

In [ ]:
ufo.info()

# 5. How do I select a pandas Series from a DataFrame? ([video](https://www.youtube.com/watch?v=zxqjeyKP2Tk&list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y&index=3))

In [ ]:
# select the 'City' Series using bracket notation
ufo['City']

# or equivalently, use dot notation
ufo.City

**Bracket notation** will always work, whereas **dot notation** has limitations:

- Dot notation doesn't work if there are **spaces** in the Series name
- Dot notation doesn't work if the Series has the same name as a **DataFrame method or attribute** (like 'head' or 'shape')
- Dot notation can't be used to define the name of a **new Series** (see below)

In [ ]:
# create a new 'Location' Series (must use bracket notation to define the Series name)
ufo['Location'] = ufo.City + ', ' + ufo.State
ufo.head()

[<a href="#Python-pandas-Q&A-video-series-by-Data-School">Back to top</a>]

## 6. Why do some pandas commands end with parentheses (and others don't)? ([video](https://www.youtube.com/watch?v=hSrDViyKWVk&list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y&index=4))

**Methods** end with parentheses, while **attributes** don't:

In [ ]:
# read a dataset of top-rated IMDb movies into a DataFrame
movies = pd.read_csv(r'.\data\imdb_1000.csv')
movies.shape

In [ ]:
# example method: show the first 5 rows
movies.head()

In [ ]:
# example method: calculate summary statistics
movies.describe()

In [ ]:
# example attribute: data type of each column
movies.dtypes

In [ ]:
# use an optional parameter to the describe method to summarize only 'object' columns
movies.describe(include=['object'])

In [ ]:
#mini assignment- 
#Find count and distinct values in title and content_rating columns

Documentation for [**`describe`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html)

[<a href="#Python-pandas-Q&A-video-series-by-Data-School">Back to top</a>]

# 7. How do I rename columns in a pandas DataFrame? ([video](https://www.youtube.com/watch?v=0uBirYFhizE&list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y&index=5))

In [ ]:
# read a dataset of UFO reports into a DataFrame
ufo = pd.read_table(r'.\data\ufo.csv', sep=',')
# read_csv is equivalent to read_table, except it assumes a comma separator
ufo =pd.read_csv(r'.\data\ufo.csv')
# examine the first 5 rows
ufo.head()

In [ ]:
ufo.shape

In [ ]:
# examine the column names

ufo.columns

In [ ]:
# rename two of the columns by using the 'rename' method
ufo.rename(columns={'Colors Reported':'Colors_Reported', 'Shape Reported':'Shape_Reported'}, inplace=True)
ufo.columns

Documentation for [**`rename`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.rename.html)

In [ ]:
# replace all of the column names by overwriting the 'columns' attribute
ufo_cols = ['city', 'colors reported', 'shape reported', 'state', 'time']
ufo.columns = ufo_cols
ufo.columns

In [ ]:
# replace the column names during the file reading process by using the 'names' parameter
ufo =pd.read_csv(r'.\data\ufo.csv',header=0, names=ufo_cols)
ufo.columns

In [ ]:
# replace all spaces with underscores in the column names by using the 'str.replace' method
ufo.columns = ufo.columns.str.replace(' ', '_')
ufo.columns

Documentation for [**`str.replace`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.replace.html)

[<a href="#Python-pandas-Q&A-video-series-by-Data-School">Back to top</a>]

## 8. How do I remove columns from a pandas DataFrame? ([video](https://www.youtube.com/watch?v=gnUKkS964WQ&list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y&index=6))

In [ ]:
# remove a single column (axis=1 refers to columns)
ufo =pd.read_csv(r'.\data\ufo.csv')

ufo.head()
ufo.shape

In [ ]:
ufo.drop('Colors Reported', axis=1, inplace=True)
ufo.shape

In [ ]:
# remove multiple columns at once
ufo.drop(['City', 'State'], axis=1, inplace=True)
ufo.head()

Documentation for [**`drop`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html)

In [ ]:
# remove multiple rows at once (axis=0 refers to rows)
ufo.drop([0, 1], axis=0, inplace=True)
ufo.head()

[<a href="#Python-pandas-Q&A-video-series-by-Data-School">Back to top</a>]

## 9. How do I sort a pandas DataFrame or a Series? ([video](https://www.youtube.com/watch?v=zY4doF6xSxY&list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y&index=7))

In [ ]:
# sort the 'title' Series in ascending order (returns a Series)
movies = pd.read_csv(r'.\data\imdb_1000.csv')
movies.shape

In [ ]:
movies.title.sort_values().head()

In [ ]:
# sort in descending order instead
movies.title.sort_values(ascending=False).head()

In [ ]:
# sort the entire DataFrame by the 'title' Series (returns a DataFrame)
#movies.sort_values(['title','duration']).head()
# sort in descending order instead
movies.sort_values(['title','duration'], ascending=[False,True], inplace=True)

In [ ]:
movies.reset_index().head()

Documentation for [**`sort_values`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html) for a **DataFrame**. (Prior to version 0.17, use [**`sort`**](http://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.DataFrame.sort.html) instead.)

## 10. How do I filter rows of a pandas DataFrame by column value? ([video](https://www.youtube.com/watch?v=2AFGPdNn4FM&list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y&index=8))

**Goal:** Filter the DataFrame rows to only show movies with a 'duration' of at least 200 minutes.

In [ ]:
movies.head()

In [ ]:
#one wasy is to create boolean i.e. create a list in which each element refers to a DataFrame row: True if the row satisfies the condition, False otherwise
#just to understandhow filtering in more rudimentart way
booleans = []
for length in movies.duration:
    if length >= 200:
        booleans.append(True)
    else:
        booleans.append(False)

In [ ]:
movies.shape

In [ ]:
# confirm that the list has the same length as the DataFrame
print(booleans)

In [ ]:
# examine the first five list elements
booleans[0:5]

In [ ]:
# convert the list to a Series
is_long = pd.Series(booleans)
is_long.head()

In [ ]:
# Pass the series to the dataframe. use bracket notation with the boolean Series to tell the DataFrame which rows to display. 
movies[is_long]

In [ ]:
# simplify the steps above: no need to write a for loop to create 'is_long' since pandas will broadcast the comparison
#by default when we pass series is used with comparision
is_long = movies.duration >= 200
#is_long.head()
movies[is_long]

# or equivalently, write it in one line (no need to create the 'is_long' object). Inner part is creating eries of booleans same lengtht as data frame
#movies[movies.duration >= 200]

In [ ]:
# select the 'genre' Series from the filtered DataFrame

#movies[movies.duration >= 200].genre
#the above method is not idel way to filter .Just used to illustrate the technical feature
# or equivalently, use the 'loc' method
movies.loc[movies.duration >= 200, 'genre']

In [ ]:
##Best way is to use .loc, .iloc 
#3Read about indexing and it's uses

Documentation for [**`loc`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.loc.html)

[<a href="#Python-pandas-Q&A-video-series-by-Data-School">Back to top</a>]

## 11. How do I apply multiple filter criteria to a pandas DataFrame? ([video](https://www.youtube.com/watch?v=YPItfQ87qjM&list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y&index=9))

In [ ]:
# read a dataset of top-rated IMDb movies into a DataFrame
#Last time we saw all columns but only filtered rows where duration was >200.In this section we will see multiple filtrs

movies = pd.read_csv(r'.\data\imdb_1000.csv')

movies.head()

**Goal:** Further filter the DataFrame of long movies (duration >= 200) to only show movies which also have a 'genre' of 'Drama'

Understanding **logical operators:**

- **`and`**: True only if **both sides** of the operator are True
- **`or`**: True if **either side** of the operator is True

In [ ]:
# demonstration of the 'and' operator
print(True and True)
print(True and False)
print(False and False)

Rules for specifying **multiple filter criteria** in pandas:

- use **`&`** instead of **`and`**
- use **`|`** instead of **`or`**
- add **parentheses** around each condition to specify evaluation order

In [ ]:
# CORRECT: use the '&' operator to specify that both conditions are required
movies[(movies.duration >=200)  & (movies.genre == 'Drama')]

**Question:** Filter the original DataFrame to show movies with a 'genre' of 'Crime' or 'Drama' or 'Action'

## 11. How do I use the "axis" parameter in pandas? ([video](https://www.youtube.com/watch?v=PtO3t6ynH-8&list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y&index=11))

In [ ]:
# read a dataset of alcohol consumption into a DataFrame
drinks = pd.read_csv(r'.\data\drinks.csv')
drinks.head()

Documentation for [**`drop`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html)

In [ ]:
#pass name of column as a string drop a column (temporarily)
drinks.drop('continent', axis=1).head()

In [ ]:
# drop a row (temporarily)
drinks.drop(2, axis=0).head()

When **referring to rows or columns** with the axis parameter:

- **axis 0** refers to rows
- **axis 1** refers to columns

In [ ]:
# calculate the mean of each numeric column. Direction of operation can be downwards(across rows) or horizontal(across columns)
#drinks.mean()

# or equivalently, specify the axis explicitly. Collapsing all columns into 
drinks.mean(axis=1)

Documentation for [**`mean`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.mean.html)

In [ ]:
# calculate the mean of each row. Preserves rows collapses columns
drinks.mean(axis=1).head()

In [ ]:
# 'columns' is an alias for axis 1
drinks.mean(axis='rows').head()

## 12. How do I change the data type of a pandas Series? ([video](https://www.youtube.com/watch?v=V0AWyzVMf54&list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y&index=13))

In [ ]:
# examine the data type of each Series
drinks.dtypes

In [ ]:
# change the data type of an existing Series
drinks['beer_servings'] = drinks.beer_servings.astype(float)
drinks.dtypes

Documentation for [**`astype`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.astype.html)

In [ ]:
# alternatively, change the data type of a Series while reading in a file
drinks = pd.read_csv('.\data\drinks.csv', dtype={'beer_servings':float})
drinks.dtypes

In [ ]:
# read a dataset of Chipotle orders into a DataFrame
orders = pd.read_table('http://bit.ly/chiporders')
orders.head()

In [ ]:
# examine the data type of each Series
orders.dtypes

In [ ]:
orders.head()

In [ ]:
# convert a string to a number in order to do math
orders.item_price.str.replace('$', '').astype(float).mean()

## 13. When should I use a "groupby" in pandas? ([video](https://www.youtube.com/watch?v=qy0fDqoMJx8&list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y&index=14))

In [ ]:
#importing pandas lib
import pandas as pd
import numpy as np

In [ ]:
# default behaviour of aggregate functions
s = pd.Series([1,2,3,np.NaN,np.NaN])
print("-----size------")
print(s.size)
print("-----nquniue------")
print(s.nunique())
print("-----Count------")
print(s.count())
print("-----unique------")
print(s.unique())
print("----value_counts-------")
print(s.value_counts())
print("----sum-------")
print(s.sum())
print("-----mean-------")
print(s.mean())

In [ ]:
# read a dataset of alcohol consumption into a DataFrame
drinks = pd.read_csv('.\data\drinks.csv')
drinks.head()

In [ ]:
drinks.mean()

In [ ]:
# calculate the mean beer servings across the entire dataset
drinks.beer_servings.mean()

In [ ]:
# calculate the mean beer servings just for countries in Africa
drinks[drinks.continent=='Africa'].beer_servings.mean()

In [ ]:
# calculate the mean beer servings for each continent
drinks.groupby('continent').beer_servings.mean()

In [ ]:
# calculate the mean beer servings for each continent
drinks.groupby(['continent','country']).beer_servings.mean()

In [ ]:
# other aggregation functions (such as 'max') can also be used with groupby
drinks.groupby('continent').beer_servings.max()

Documentation for [**`groupby`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.groupby.html)

In [ ]:
# multiple aggregation functions can be applied simultaneously
drinks.groupby('continent').beer_servings.agg(['count', 'mean', 'min', 'max','nunique'])

Documentation for [**`agg`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.core.groupby.DataFrameGroupBy.agg.html)

In [ ]:
# specifying a column to which the aggregation function should be applied is not required
drinks.groupby('continent').mean()



[<a href="#Python-pandas-Q&A-video-series-by-Data-School">Back to top</a>]

## 14. How do I explore a pandas Series? ([video](https://www.youtube.com/watch?v=QTVTq8SPzxM&list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y&index=15))

In [ ]:
# read a dataset of top-rated IMDb movies into a DataFrame
movies = pd.read_csv(r'.\data\imdb_1000.csv')
movies.shape

**Exploring a non-numeric Series:**

In [ ]:
# count the non-null values, unique values, and frequency of the most common value
movies.genre.describe()

Documentation for [**`describe`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.describe.html)

In [ ]:
# count ho many times each value in the Series occurs
movies.genre.value_counts()

Documentation for [**`value_counts`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html)

In [ ]:
# display percentages instead of raw counts
movies.genre.value_counts(normalize=True)

In [ ]:
# 'value_counts' (like many pandas methods) outputs a Series
type(movies.genre.value_counts())

In [ ]:
movies.genre.value_counts().unique()

In [ ]:
# display the unique values in the Series
movies.genre.unique()
#movies.genre.nunique()

In [ ]:
# compute a cross-tabulation of two Series
pd.crosstab(movies.genre, movies.content_rating)

Documentation for [**`crosstab`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.crosstab.html)

## 15. How do I handle missing values in pandas? ([video](https://www.youtube.com/watch?v=fCMrO_VzeL8&list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y&index=16))

In [ ]:
# read a dataset of UFO reports into a DataFrame
ufo = pd.read_csv(r'.\data\ufo.csv')
ufo.tail()

**What does "NaN" mean?**

- "NaN" is not a string, rather it's a special value: **`numpy.nan`**.
- It stands for "Not a Number" and indicates a **missing value**.
- **`read_csv`** detects missing values (by default) when reading the file, and replaces them with this special value.

Documentation for [**`read_csv`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)

In [ ]:
# 'isnull' returns a DataFrame of booleans (True if missing, False if not missing)
ufo.isnull().tail()

Documentation for [**`isnull`**]
(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.isnull.html) and [**`notnull`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.notnull.html)

In [ ]:
# count the number of missing values in each Series
ufo.isnull().sum()

This calculation works because:

1. The **`sum`** method for a DataFrame operates on **`axis=0`** by default (and thus produces column sums).
2. In order to add boolean values, pandas converts **`True`** to **1** and **`False`** to **0**.

In [ ]:
# 'nonnull' returns the opposite of 'isnull' (True if not missing, False if missing)
ufo.notnull().tail()

In [ ]:
# use the 'isnull' Series method to filter the DataFrame rows
ufo[ufo.City.isnull()].head()

**How to handle missing values** depends on the dataset as well as the nature of your analysis. Python documentation covers all the options in detail:

[Working with missing data in pandas](http://pandas.pydata.org/pandas-docs/stable/missing_data.html)

[<a href="#Python-pandas-Q&A-video-series-by-Data-School">Back to top</a>]

# 16. What do I need to know about the pandas index? (Part 1) ([video](https://www.youtube.com/watch?v=OYZNk7Z9s6I&list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y&index=17))

In [ ]:
# read a dataset of alcohol consumption into a DataFrame
drinks = pd.read_csv(r'.\data\drinks.csv')
drinks.head()

In [ ]:
# every DataFrame has an index (sometimes called the "row labels")
drinks.index

In [ ]:
# column names are also stored in a special "index" object
drinks.columns

In [ ]:
# neither the index nor the columns are included in the shape
drinks.shape

**What is the index used for?**

1. identification
2. selection
3. alignment

In [ ]:
# identification: index remains with each row when filtering the DataFrame
#drinks[drinks.continent=='South America']# selection: select a portion of the DataFrame using the index
drinks.loc[23, 'beer_servings']

Documentation for [**`loc`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.loc.html)

In [ ]:
# set an existing column as the index
drinks.set_index('country', inplace=True)
drinks.head()

Documentation for [**`set_index`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.set_index.html)

In [ ]:
# 'country' is now the index
drinks.index

In [ ]:
# 'country' is no longer a column
drinks.columns
# 'country' data is no longer part of the DataFrame contents
drinks.shape

In [ ]:
# country name can now be used for selection
drinks.loc['Brazil', 'beer_servings']

In [ ]:
# index name is optional
drinks.index.name = None
drinks.head()

In [ ]:
# restore the index name, and move the index back to a column
drinks.index.name = 'country'
drinks.reset_index(inplace=True)
drinks.head()

Documentation for [**`reset_index`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.reset_index.html)

In [ ]:
# many DataFrame methods output a DataFrame
drinks.describe()

In [ ]:
# you can interact with any DataFrame using its index and columns
drinks.describe().loc['25%', 'beer_servings']

[Indexing and selecting data](http://pandas.pydata.org/pandas-docs/stable/indexing.html)

[<a href="#Python-pandas-Q&A-video-series-by-Data-School">Back to top</a>]

In [ ]:
# set 'country' as the index
drinks.set_index('country', inplace=True)

Documentation for [**`set_index`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.set_index.html)

In [ ]:
# another example of a Series (output from the 'value_counts' method)
drinks.continent.value_counts()

In [ ]:
# access the Series index
drinks.continent.value_counts().index

In [ ]:
# access the Series values
drinks.continent.value_counts().values

In [ ]:
# elements in a Series can be selected by index (using bracket notation)
drinks.continent.value_counts()['Africa']

In [ ]:
# any Series can also be sorted by its index
drinks.continent.value_counts().sort_index()

**What is the index used for?**

1. identification (covered in the previous video)
2. selection (covered in the previous video)
3. alignment

In [ ]:
# 'beer_servings' Series contains the average annual beer servings per person
drinks.beer_servings.head()

In [ ]:
# create a Series containing the population of two countries
people = pd.Series([3000000, 85000], index=['Albania', 'Andorra'], name='population')
people

In [ ]:
# calculate the total annual beer servings for each country
(drinks.beer_servings * people).head()

- The two Series were **aligned** by their indexes.
- If a value is missing in either Series, the result is marked as **NaN**.
- Alignment enables us to easily work with **incomplete data**.

In [ ]:
# concatenate the 'drinks' DataFrame with the 'population' Series (aligns by the index)
pd.concat([drinks, people], axis=1).head()

Documentation for [**`concat`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html)

[Indexing and selecting data](http://pandas.pydata.org/pandas-docs/stable/indexing.html)

[<a href="#Python-pandas-Q&A-video-series-by-Data-School">Back to top</a>]

## 18. How do I select multiple rows and columns from a pandas DataFrame? ([video](https://www.youtube.com/watch?v=xvpNA7bC8cs&list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y&index=19))

The [**`loc`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.loc.html) method is used to select rows and columns by **label**. You can pass it:

- A single label
- A list of labels
- A slice of labels
- A boolean Series
- A colon (which indicates "all labels")

In [ ]:
# read a dataset of UFO reports into a DataFrame
ufo = pd.read_csv(r'.\data\ufo.csv')
ufo.head(3)

In [ ]:
# row 0, all columns
ufo.loc[0, :]

In [ ]:
# rows 0 and 1 and 2, all columns
ufo.loc[[0, 1, 2], :]

In [ ]:
# rows 0 through 2 (inclusive), all columns
ufo.loc[0:2, :]

In [ ]:
# this implies "all columns", but explicitly stating "all columns" is better
ufo.loc[0:2]

In [ ]:
# rows 0 through 2 (inclusive), column 'City'
ufo.loc[0:2, 'City']

In [ ]:
# rows 0 through 2 (inclusive), columns 'City' and 'State'
ufo.loc[0:2, ['City', 'State']]

In [ ]:
# accomplish the same thing using double brackets - but using 'loc' is preferred since it's more explicit
ufo[['City', 'State']].head(3)

In [ ]:
# rows 0 through 2 (inclusive), columns 'City' through 'State' (inclusive)
ufo.loc[0:2, 'City':'State']

In [ ]:
# rows in which the 'City' is 'Oakland', column 'State'
ufo.loc[ufo.City=='Oakland', 'State']

In [ ]:
# accomplish the same thing using "chained indexing" - but using 'loc' is preferred since chained indexing can cause problems
ufo[ufo.City=='Oakland'].State

The [**`iloc`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.iloc.html) method is used to select rows and columns by **integer position**. You can pass it:

- A single integer position
- A list of integer positions
- A slice of integer positions
- A colon (which indicates "all integer positions")

In [ ]:
# rows in positions 0 and 1, columns in positions 0 and 3
ufo.iloc[[0, 1], [0, 3]]

In [ ]:
# rows in positions 0 through 2 (exclusive), columns in positions 0 through 4 (exclusive)
ufo.iloc[0:2, 0:4]# rows in positions 0 through 2 (exclusive), all columns
ufo.iloc[0:2, :]

## Chain indexing
#### Two subset selections immediately following each other is reffered to as chain indexing.

In [ ]:
a=[1, 5, 10, 3, 99, 5, 8, 20, 40]

In [ ]:
#Let’s make a normal subset selection by slicing from integer location 2 to 6.
a[2:6]

In [ ]:
a[2:6][0]

In [ ]:
#Let’s say, we wanted to change this value that was selected above from 10 to 50
a[2:6][0]=50

In [ ]:
a

In [ ]:
a_temp=a[2:6]
a_temp[0]=50
print(a_temp)
print(a)

In [ ]:
#But doesn’t Python modify objects that are the ‘same’?
a1 = [0, 1, 2, 3]
b1 = a1
b1[0] = 99
print(b1)
print(a1)

In [ ]:
print(id(a1))
print(id(b1))

In [ ]:
#So, why did our assignment with chained indexing fail?
#Ans-Whenever you take a slice of a list, Python creates a brand new copy (a shallow-copy to be exact) of the data. 
#    A copy of an object is completely unrelated to the original and has it’s own place in memory.

In [ ]:
print(id(a))
print(id(a[2:6]))

In [ ]:
x = [7, [1, 2], 5, 6, 10, 14, 19, 20]
x_slice = x[1:4]
print(x)
print(x_slice)

In [ ]:
print(id(x))
print(id(x_slice))

In [ ]:
x_slice[0][0]=50

In [ ]:
print(x)
print(x_slice)

In [ ]:
print(id(x[1]))
print(id(x_slice[0]))

In [ ]:
#Deepcopy
from copy import deepcopy
x_slice=deepcopy(x[1:4])
x_slice[0][0]=70
print(x)
print(x_slice)

### Chained Indexing in pandas

#### In pandas chained indexing occurs whenever you use the indexers [], .loc, or .iloc twice in a row.

In [ ]:
# read a dataset of UFO reports into a DataFrame
ufo = pd.read_csv(r'.\data\ufo.csv')
ufo.head(3)

In [ ]:
ufo[['City','Colors Reported','Shape Reported']]['City'] #Example 1
#ufo['City'] - Good

In [ ]:
ufo.iloc[:,0:3].iloc[:,0] # Example 2
#ufo.iloc[:,0] - Good

In [ ]:
ufo.loc[:,'City':'Shape Reported'].loc[:,'City'] #Example 3
#ufo.loc[:,'City'] - Good

In [ ]:
#Problems with chain Indexing

#1. Two separate operations being performed
#eg. In example 1
#Operation a- ufo_temp=ufo[['City','Colors Reported','Shape Reported']]
# Operation b- ufo_temp['City']


#2. SettingWithCopy warning on assignment
# The major problem with chained indexing is when assigning new values to the subset, 
# in which Pandas will usually emit the SettingWithCopy warning

In [ ]:
ufo[ufo.City=='Abilene']['Shape Reported']='SQUARE'

In [ ]:
ufo[ufo.City=='Abilene']['Shape Reported']

In [ ]:
ufo_temp=ufo[ufo.City=='Abilene']
ufo_temp['Shape Reported']='SQUARE'
print('---------from ufo DF-----------')
print(ufo[ufo.City=='Abilene']['Shape Reported'])
print('---------from ufo_temp DF-----------')
print(ufo_temp[ufo_temp.City=='Abilene']['Shape Reported'])

In [ ]:
#Pythonic way 
ufo.loc[ufo.City=='Abilene', 'Shape Reported'] = 'SQUARE'
print(ufo[ufo.City=='Abilene']['Shape Reported'])